/YangXuASPNETCORE3.0/bin
/YangXuASPNETCORE3.0/obj
/YangXuASPNETCORE3.0/*.user
/YangXuSingalR/obj
/YangXuSingalR/bin
/YangXuSingalR/*.user
/MyTestConsole/obj
/MyTestConsole/bin
/YangXuAPI/bin
/YangXuAPI/obj
/.vs
obj
bin
/MyTestNetCore
/MyTestConsole
