@model YangXuASPNETCORE3._0.Models.CompanySummary
<div class="small">
    <div class="row h3">@ViewBag.Title</div>
    <div class="row">
        <div class="col-md-8">员工总数</div>
        <div class="col-md-4">@Model.EmployeeCount</div>
    </div>
    <div class="row">
        <div class="col-md-8">部门平均数</div>
        <div class="col-md-4">@Model.AverageDapartmentEmployeeCount</div>
    </div>
</div>
